/* global */
body {
/*  padding: 40px 0;*/
  background: #f0f0f0;
}
.browser-container {
/*	height: 100vh;*/
}
.mobile-container {
	width: 375px;
	height: 768px;
	background: #23252d;
  position: relative;
  overflow-x: hidden;
}

/* header navigation */
.main-nav {
  height: 70px;
}
.nav-logo {
  font-size: 21px;
  line-height: 36px;
  margin-top: 21px;
  font-weight: 600;
}
.nav-logo span {
  color: #25c2e2;
}
.main-nav {
  width: 375px;
  padding: 10px 0;
}
.main-nav .navbar-btn {
  position: absolute;
  left: 15px;
  top: 17px;
  transition: all 0.3s linear;
}
.main-nav .navbar-btn:focus {
  outline:0;
}
.main-nav .navbar-btn-active {
  left: 322px;
}
.main-nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h20M4 16h20M4 24h20'/%3E%3C/svg%3E");
  width: 25px;
}

/* sidebar nav */
.sidebar-nav {
  height: 100%;
  width: 309px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -309px;
  background-color: #171922;
  overflow-x: hidden;
  transition: all 0.3s linear;
  padding-top: 40px;
}
.sidebar-nav.active {
  left: 0;
}
.sidebar-nav .logo-img {
  width: 80px;
}
.sidebar-nav .logo-text {
  font-size: 32px;
  margin-top: 18px;
  margin-bottom: 60px;
}
.sidebar-nav li a{
  display: block;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}
.sidebar-nav li img {
  vertical-align: middle;
  width: 19px;
  margin-right: 18px;
}
.sidebar-nav li.active a {
  color: #4dd0ed;
}
.sidebar-nav li a:hover {
  text-decoration: none;
}
.sidebar-footer {
  position: absolute;
  padding-left: 36px;
  bottom: 0;
}
.sidebar-footer hr {
  border: 1px solid #979797;
  width: 229px;
  margin-left: 0px;
  opacity: 0.21;
  margin-bottom: 34px;
  margin-top: 0;
}
.sidebar-footer img {
  width: 19px;
  margin-right: 18px;
  margin-left: 7px;
}
.sidebar-footer div a {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}
.sidebar-footer div a:hover {
  text-decoration: none;
}
.sidebar-footer div {
  margin-bottom: 34px;
}

/* main container */
.main-container {
  min-height: 680px;
  position: relative;
}


/* login */
.login-container {
	height: 768px;
}
.login-container .logo-img {
	width: 90px;
	margin-top: 100px;
}
.logo-text {
	font-size: 35px;
	margin: 0;
	margin-top: 25px;
	margin-bottom: 28px;
}
.logo-text span {
	color: #25c2e2;
}
.login-form {
	margin-bottom: 98px;
}
.login-form input[type="text"] {
	width: 302px;
	height: 46px;
	border-radius: 4px;
	border: solid 1px #424d7a;
	background-color: #2f3449;
	margin-bottom: 16px;
}
.login-form input[type="checkbox"] {
	width: 20px;
	height: 20px;
	border-radius: 4px;
	border: solid 1px #424d7a;
	background-color: #2f3449;
	margin-bottom: 16px;
}
.custom-checkbox {
	position: absolute;
	opacity: 0;
}
.custom-checkbox + label {
	position: relative;
	cursor: pointer;
	padding: 0;
}
.custom-checkbox + label:before {
	content: '';
	margin-right: 10px;
	display: inline-block;
	vertical-align: text-top;
	width: 20px;
	height: 20px;
	background: #2f3449;
	border: solid 1px #424d7a;
}
.custom-checkbox:hover + label:before {
	background: #2f3449;
}
.custom-checkbox:focus + label:before {
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.custom-checkbox:checked + label:before {
	background: #2f3449;
}
.custom-checkbox:disabled + label {
	color: #b8b8b8;
	cursor: auto;
}
.custom-checkbox:disabled + label:before {
	box-shadow: none;
	background: #ddd;
}
.custom-checkbox:checked + label:after {
	content: '';
	position: absolute;
	left: 5px;
	top: 9px;
	background: white;
	width: 2px;
	height: 2px;
	box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
	-webkit-transform: rotate(45deg);
        	transform: rotate(45deg);
}
.login-btn {
	width: 302px;
	height: 46px;
	border: none;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: .5px;
	margin-bottom: 23px;
	margin-top: 8px;
	border-radius: 23px;
  background-image: -webkit-linear-gradient(9deg, #38dbb1, #1fbbf0);
  background-image: -o-linear-gradient(9deg, #38dbb1, #1fbbf0);
  background-image: linear-gradient(99deg, #38dbb1, #1fbbf0);
}
.forgot-btn {
	display: inline-block;
	color: #28c6db;
}
.forgot-btn:hover {
	outline: none;
	color: #28c6db;
	text-decoration: none;
}
.corp-name {
	opacity: 0.35;
	line-height: 1.36;
}

/* Scan page */
.scan-btn-container {

}
.scan-btn {
  width: 322px;
  height: 322px;
  border: none;
  background: url(img/button-scan@3x.png);
  background-size: 100%;
  margin-bottom: 46px;
  margin-top: 66px;
  border-radius: 500px;
}
.scan-btn:hover {
  cursor: pointer;
}
.scan-btn:focus {
  outline: 0;
}
.scan-btn-container p {
  width: 259px;
  color: #27c6dc;
  font-size: 14px;
  text-align: center;
  opacity: 0.6;
}
.scan-popup-container {
  position: absolute;
  top: 55px;
}
.scan-popup {
  width: 322px;
  height: 180px;
  opacity: 0.89;
  border-radius: 43px;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background-color: #000000;
}
.scan-popup img {
  width: 66px;
  margin-bottom: 15px;
  margin-top: -33px;
}
.scan-popup h2 {
  height: 24px;
  font-family: InterUI;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.29px;
  text-align: center;
  color: #ffffff;
}
.scan-popup p {
  width: 245px;
  font-size: 15px;
}

/* scan result page */
.result-tabs {
  width: 100%;
  display: table;
  border-bottom: 3px solid rgba(86,86,86, 0.5);
}
.result-tabs li {
  display: table-cell;
  text-align: center;
  position: relative;
}
.result-tabs .nav-link.active,
.result-tabs .nav-item.show .nav-link {
  color: #fff;
  background: none;
  border: none; 
}
.result-tabs li a {
  font-size: 14px;
  opacity: 0.5;
  color: #fff;
  padding: 13px 0;
}
.result-tabs li a.active {
  font-weight: 600;
  opacity: 1;
}
.result-tabs li a.active::after {
  content: ' ';
  width: 100%;
  height: 4px;
  background-image: linear-gradient(92deg, #38dbb1, #1fbbf0);;
  position: absolute;
  bottom: 0;
  left: 0;
}
.result-content .tab-pane{
  padding: 0 22px;
  padding-top: 26px;
}

/* select menu dropdown */
.input-box {
  position: relative;
  height: 52px;
}
.input-label {
  position: absolute;
  color: #fff;
  z-index: 2;
  font-size: 11px;
  opacity: 0.6;
  left: 19px;
  top: 9px;
}

.nice-select {
  background: #2f3449;
  border: none;
  border: 1px solid #424d7a;
  padding-top: 12px;
  height: 52px;
  min-width: 111px;
}
.nice-select::after {
  background-image: url(img/shape.png);
  width: 11px;
  height: 6px;
  border: none;
  transform: inherit;
}
.nice-select .current {
  color: #fff;
}
.input-box.full-width .nice-select {
  width: 100%;
}

.employee-list {
  padding: 0 6px !important;
  display: block;
}
.employee-list a:hover{
  text-decoration: none;
}
.employee-list li{
  padding: 13px 0px;
  border-bottom: 1px solid #565656;
  position: relative;
}
.employee-list li::after {
  position: absolute;
  right: 4px;
  bottom: 25px;
  content: ' ';
  background-image: url(img/shape.png);
  width: 11px;
  height: 6px;
  border: none;
  transform: rotate(-90deg);
}
.employee-name {
  font-size: 14px;
  font-weight: 600;
}
.employee-title {
  font-size: 12px;
  opacity: 0.65;
  padding-left: 2px;
  margin-top: -3px;
}


/* employee detail page */
.employee-profile {
  padding: 19px 5px;
  background-color: #283040;
} 
.profile-img {
  width: 64px;
  border-radius: 50px;
  padding: 0 19px;
  width: 103px;
  overflow: hidden;
}
.profile-detail {
  padding-top: 3px;
}
.profile-detail h2 {
  font-size: 17px;
  font-weight: 600;
}
.profile-detail .title {
  font-size: 14px;
  opacity: 0.65;
  margin-bottom: 2px;
}
.profile-detail .email {
  color: #28c7d9;
  letter-spacing: -.2px;
  font-size: 14px;
  margin-bottom: 0;
}

/* input date */
.date-input {
  padding: 19px 20px;
}
.date-box {
  background: #2f3449;
  border: none;
  border: 1px solid #424d7a;
  padding-top: 12px;
  height: 52px;
  min-width: 111px;
  position: relative;
  padding-left: 19px;
  width: 159px;
  border-radius: 4px;
}
.date-box-sm {
  width: 121px;
}
.date-box label {
  position: absolute;
  color: #fff;
  z-index: 2;
  font-size: 11px;
  opacity: 0.6;
  left: 19px;
  top: 9px;
}
.date-box input[type="text"] {
  background: transparent;
  color: #fff;
  border-bottom: none;
  font-size: 14px;
  margin-top: -3px;
}
.date-box::after {
  position: absolute;
  right: 19px;
  bottom: 25px;
  content: ' ';
  background-image: url(img/shape.png);
  width: 11px;
  height: 6px;
  border: none;
}


/* content */
.content {
  padding-left: 24px;
}
.section-title {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}